<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta property="og:title" content="TapTo" />
    <meta property="og:site_name" content="TapTo" />
    <meta property="og:url" content="https://code.simonebaldini.dev/tapto/" />
    <meta
      property="og:description"
      content="A fun and interactive way to randomly choose someone from a group of people."
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://code.simonebaldini.dev/tapto/og.jpg"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <title>TapTo</title>
    <% if (typeof(gtm_id) !== "undefined") { %>
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "<%= gtm_id %>");
    </script>
    <% } %>
  </head>
  <body>
    <% if (typeof(gtm_id) !== "undefined") { %>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=<%= gtm_id %>"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <% } %>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
